/* Texto */

@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Courgette&display=swap');

h1 {
    font-family: 'Courgette', cursive;
    color: #fff;
    font-size: 60px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

h2 {
    font-family: 'Aladin', cursive;
    color: #fff;
    font-size: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h3 {
    font-family: 'Courgette', cursive;
    color: #fff;
    font-size: 40px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.title{
    color: #fff;
    position: relative;
    top: 32rem;
    text-align: center;
}

.title2{
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 39rem;
    height: 100px;
}

/* Corpo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #02001a;
    margin-bottom: 0;
}

/* Header */

header {
    position: absolute;
    top: 1.5%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
    border-radius: 10px;
}

header .container {
    padding: 10px 100px;
    background-color: rgba(36, 36, 36, 0);
}

header .logo {
    height: 3.5em;
    width: 100%;
    background-image: url(../img/Khaliria.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.container ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.container {
    display: flex;
}

.container h2 {
    transition: 0.4s;
}

.container h2:hover {
    color: #a329e9;
}

.container li {
    list-style: none;
    margin-right: 2rem;
}

.container a {
    position: relative;
    margin: 0 15px;
    color: #000;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    text-decoration: none;
}

.container li:hover {
    color: #02001a;
}

/* Banner */

.banner1 {
    width: 100%;
    height: 100%;
    margin-right: -50px;
    min-height: 400px;
    background-image: url('../img/Banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner2 {
    width: 100%;
    height: 1000px;
    margin-right: -50px;
    min-height: 400px;
    background-image: url('../img/Banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    text-align: center;
    margin-top: -200px;
}

.banner img {
    margin-top: 150px;
    max-width: 350px;
    width: 98%;
    height: 98%;
}

/* Main */

.main {
    background-image: url(../img/back1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 600px;
    width: 100%;
    height: auto;
    margin-bottom: 10rem;
}

/* Rodape */

.footer {
    background-color: #02001a;
    width: 100%;
    height: 9rem;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f7f6f1;
    padding: 1.5rem 0 0 0;
    font-size: 20px;
    margin-top: 2rem;
}

.footer a {
    color: #ffffff;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2.8rem;
    transition: 0.4s;
    text-decoration: none;
}

.footer a:hover {
    color: #a329e9;
}

.footer p {
    margin-top: 1rem;
}

.social {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    top: 16px;
    right: 16px;
    display: none;
}

.menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    transition: all ease .2s;
    display: none;
}

.menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    top: 16px;
    right: 16px;
    display: none;
}

.menu-faketrigger:checked~.menu-lines span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu-faketrigger:checked~.menu-lines span:nth-child(2) {
    opacity: 0;
}

.menu-faketrigger:checked~.menu-lines span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

@media (max-width: 980px) {
    .menu-lines {
        display: block;
    }

    .menu-lines span {
        display: block;
    }

    .menu-faketrigger {
        display: block;
    }

    .container {
        display: none;
    }

    .container ul {
        display: block;
    }

    .title2{
        font-size: 36px;
        width: 23rem;
    }

    .footer a svg{
        width: 24px;
        height: 24px;
    }

    .footer{
        margin-top: 1rem ;
    }
}

.menu-faketrigger:checked~.container {
    display: block;
}

.menu-faketrigger:checked~a {
    display: none;
}