/* Video */

.video{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.video video{
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}