.video {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.video video {
  left: 0;
  top: 0;
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.main {
  width: 100%;
  height: 65rem;
  background-image: url(../img/back1.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
}

.container2 {
  width: 100%;
  height: 50rem;
}

.box {
  display: flex;
  position: relative;
  height: 600px;
  padding: 50px;
  margin: auto;
}

.divisoria {
  text-align: center;
  width: 100%;
}

.box-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center;
}

.duramor-container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.duramor{
  margin: auto;
  width: 75rem;
  gap: 2rem;
  margin-top: 1rem;
}

.duramor img{
  height: 30rem;
  border-radius: .5rem;
}

.textos{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.textos p{
  margin-top: 2rem;
  font-size: 1.75rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.textos h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-top: 2rem;
}


@media (max-width: 1280px) {
  .main {
    height: 95vh;
  }

  .voltar{
    margin-left: 12rem;
  }

  .duramor{
    width: 18rem;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 2rem;
  }

  .duramor img{
    width: 18rem;
    height: auto;
    margin: auto;
  }

  .textos{
    margin-top: 2rem;
  }

  .textos h1{
    font-size: 2rem;
  }

  .textos p{
    font-size: 1.25rem;
  }

  .card-raca{
    width: 10rem;
  }
}