/* carrousel */

.imgslide{
max-width: 450px;
}

.texto {
  position: absolute;
  color:#fff;
  text-align: center;
  top: 130px;
  min-width: 100%;
  line-height: 50px;
  max-height: 30px;
  text-decoration: none;
}

.carrousel{
  background-color: #2E3337;
}

.carousel-item {
height: 100vh;
min-height: 300px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.carousel-caption {
bottom: 270px;
}

.carousel-caption h5 {
font-size: 25px;
text-transform: uppercase;
letter-spacing: 3px;
}

.carousel-caption p {
font-family: 'Times New Roman', Times, serif ;
width: 75%;
margin: auto;
font-size: 20px;
line-height: 1.5;
color: #68ffff;
}


/* CARDS */

.bodycard{
  display: flex;
  justify-content: center;
  align-items: center;
}

.containercard{
  position: relative;
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px
}

.containercard .cardpg{
  position: relative;
  max-width: 300px;
  height: 150px;
  background:  #001733;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column; 
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  margin-bottom: 120px;
}

.containercard .cardpg:hover{
  height: 380px;

}

.containercard .cardpg .cardimg{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 2%;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

.containercard .cardpg .cardimg img{
  max-width: 100%;
}

.containercard .cardpg .cardcont{
  position: relative;
  margin-top: -100px;
  padding: 10px 10px;
  text-align: left;
  color: #ccbd47;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;

}

.containercard .cardpg:hover .cardcont{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.cardcont ul li{
  list-style: none;
  margin-left: -40px;
  align-items: center;
  text-align: left;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 1100px){
  .bodycard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/*     ROLEPLAY    */

.roleplay{
  width: 100%;
  height: 300px;
  clip-path: polygon(100% 0, 100% 0, 100% 35%, 100% 70%, 100% 100%, 70% 95%, 0 100%, 0 0, 30% 5%);
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: -50px;
}


.oqroleplay{
  padding-top: 50px;
  margin: 0px 250px;
  text-align: center;
}

.fundorole{
  width: 100%;
  height: 130vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 74% 3%, 100% 0, 100% 100%, 26% 96%, 0 100%);
}


.fundorole video{
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  z-index: -1;
}


.conteudorole{
  display: block;
  width: 550px;
  text-align: center;
  color: #f7f6f2;
  margin: 15px;
}

/* Novidades */

.novidades{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  background-color: #09131f;
  min-height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-posts{
  width: min(1200px, 100%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}

.post{
  width: calc(33% - 20px);
  overflow: invisible;
}

.post-content{
  background-color: #193656;
  margin: 0 10px;
  padding: 20px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: .3s linear;
}

.post-img{
  width: 100%;
  border-radius: 6px;
  transition: .3s linear;
}
/* mudar cor onde fica o texto nas imgs*/
.post-content{
  background-color: #193656;
  margin: 0 10px;
  padding: 20px;
  border-radius: 6px;
  transform: translateY(-60px);
  transition: .3s linear;
}

.post-content h3{
  font-size: 16px;
  margin-bottom: 5px;
  color:#f7f6f1;
}

.date{
  font-size: 15px;
  font-style: italic;
  color: #e77f67;
}

.post:hover .post-img{
  transform: translateY(20px);
}

.post:hover .post-content{
  transform: translateY(-80px);
}

@media screen and (max-width: 1100px){
  .blog-posts{
    justify-content: center;
  }
  .post{
    width: min(600px, 100%);
  }
  
}

/* Rodape */

.redes{
	width: 250px;
	height: 200px;
	float: center;
	position: absolute; 
	margin-top: 40px;        
  margin-left: 577px;	

}

.redes1{
	width: 250px;
	height: 200px;
	float: center;
	position: absolute; 
	margin-top: 40px;        
  margin-left: 577px;	

}
.redes {
	position: absolute;
	overflow: hidden;
	width:130px;
	float: center;
	padding:5px;     
}

.redes img{
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
  transition: all 0.3s;	
  width: 100px;  
  height: 100px;
} 

.redes:hover img {
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* RAÇAS */

.tituloblog .full-screen .content .img{
  margin-top: 120px;
  width: 350px;
}

.tituloblog{
  width: 100%;
  height: 300px;
  background-image: url("images/1.jpg");
  clip-path: polygon(30% 0%, 63% 0, 100% 0, 100% 86%, 50% 100%, 50% 100%, 0 89%, 0 0);

}

.tituloblog h5{
  color: #131313;
  padding-top: 100px;
  text-align: center;
}

.raçasfund2{
  background-color:#09131f;
}
 
.bodycard02{
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.cardrac{
  position: relative;
  width: 300px;
  height: 450px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px; /* distancia das imagem */
  justify-content: center;
}

.cardrac::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/fundo1.png");
  transition: 0.5s;
}


.cardrac::after{
  content: '';
  position: absolute;
  bottom: 250px;
  left: 50px;
  font-weight: 600;
  font-size: 3em;
  padding-right: 0px;
  color:white;
}


.cardrac .imgbx{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 0px;
  padding-top: 0px;
  z-index: 1;
}

.cardrac .imgbx img{
  max-width: 100%;
  transition: 0.5s;
}

.cardrac:hover .imgbx img{
  max-width: 10%;
  opacity: 0%;
}
 
.conteudobx p {
  color: white;
  font-size: 15px;
}
.cardrac .conteudobx{
  position: relative;
  padding: 18px;
  padding-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  font-size: 12px;
  margin-top: -30px;
}

.cardrac .conteudobx p{
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.cardrac .conteudobx .preço{
  font-size: 15px;
  color:  #cfc232; /* cor dos atributos*/
  font-weight: 500;
  letter-spacing: 1px; 
}

.cardrac .conteudobx .comprar{
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 5px;
  color: #ffff;
  text-decoration: none;
  background:  #b8ad37; /* botão do leia mais*/
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.cardrac:hover .conteudobx .comprar{
  top:0;
  opacity: 1;
}

.cardrac ul li{
  color: white;
}


.cardrac h2{
  
  color: #cabe3d; /*nome das raças*/
}

.maisraças{
  margin: 50px;
  margin-left: 170px;
  margin-right: 170px;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  background-color: #ffffff0c;
  border-radius: 10px;
  
}

.maisraças h4{
  padding-top: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.maisraças p{
  margin: 50px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1100px){
  .maisraças p{
    margin: 25px;
    padding-bottom: 20px;
  }

  .maisraças{
    margin: 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    background-color: #ffffff0c;
    border-radius: 10px;
    
  }

  .imgdefraça{
    max-width: 100px;
    max-height: 100px;
    display: none;
  }
  
}

.imgdefraça{
  max-width: 500px;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 5px;
}

@media screen and (max-width: 1100px){
  .imgdefraça{
    max-width: 320px;
    max-height: 320px;
  }
}

.raçafe{
  margin-top: 50px;
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  margin-left: -85px;
  margin-right: 35px;
}

.raçafe li{
  margin-bottom: 35px;
  background-color: #ffffff0c;
  color: #fef58b;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.raçamode img{
  margin: 50px;
  margin-top: 10px;
  border-radius: 10px;
  max-height: 450px;
}

@media screen and (max-width: 1100px){
  .raçamode img{
    margin: 0px;
  }

  .raçafe{
    margin-top: 50px;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    margin-left: -25px;
    margin-right: 25px;
  }
}

/* classes */

iframe{
  border-radius: 10px;
}

@media screen and (max-width: 1100px){
  iframe{
    max-width: 294px;

  }
}

.classesgrid{
  border-radius: 10px;
  background-color: #ffffff0c;
  margin: 15px;
}

.maisraças h2{
  color: #fef58b;
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.classesgrid h2{
  color: #fef58b;
  font-size: 1.5rem;
  margin-top: 10px;
}

.armasperm{
  border-radius: 10px;
  background-color: #ffffff0c;
  margin: 15px;
}

.armasperm h1{
  color: #fef58b;
  font-size: 1.3rem;
  margin-top: 10px;
  margin: 10px;
}

.cardrac2{
  position: relative;
  width: 350px;
  height: 450px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 60px 20px 20px; /* distancia das imagem */
  justify-content: center;
}

.cardrac2::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("images/fundo1.png");
  transition: 0.5s;
}

.cardrac2::after{
  content: '';
  position: absolute;
  bottom: 250px;
  left: 50px;
  font-weight: 600;
  font-size: 3em;
  padding-right: 0px;
  color:white;
}

.cardrac2 .imgbx{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 0px;
  padding-top: 0px;
  z-index: 1;
}

.cardrac2 .imgbx img{
  max-width: 100%;
  transition: 0.5s;
}

.cardrac2:hover .imgbx img{
  max-width: 10%;
  opacity: 0%;
}
 
.cardrac2 .conteudobx{
  position: relative;
  padding: 18px;
  padding-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  font-size: 12px;
  margin-top: -30px;
}

.cardrac2 .conteudobx p{
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.cardrac2 .conteudobx .preço{
  font-size: 15px;
  color:  #cfc232; /* cor dos atributos*/
  font-weight: 500;
  letter-spacing: 1px; 
}

.cardrac2 .conteudobx .comprar{
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 5px;
  color: #ffff;
  text-decoration: none;
  background:  #b8ad37; /* botão do leia mais*/
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.cardrac2:hover .conteudobx .comprar{
  top:0;
  opacity: 1;
}

.cardrac2 ul li{
  color: white;
}

.cardrac2 h2{
  
  color: #cabe3d; /*nome das raças*/
}